<!DOCTYPE html>
<html>
<head>
	<title>Home  Welcome to visual tech
	</title>

 <link rel="stylesheet"  href="style2.css">
</head>
<body>


<div class="sectiontitle_1">
What we do
</div>
<div class="sectiontitle_1">
who we are
</div>

<div class="section_content">
<div class="content_1">
companies have to constantly focus on
 fulfilling the evolving customers demand and define their target plans accordingly. our experts have industry experience from reputed global firm and also degrees from prestigious universities in order to provide high end consulting to fulfil your strategic business interests.
 <p><a href="chrome.html"> Read more</a></p>
</div>
<div class="content_2">
	<img src="nath.jpg" class="contentimg" width="350px" >
	</div>
</div>


	<div class="section_content_2">
	<div class="section_cover">
		<div class="sectiontitle_1">
			what we can help you with
			</div>
		<div class="content_3">
	Typically, an IT consultant specialize in one key area or domain. they can consult and help implement websites,
	 software, networkinfrastructure, cloud enviroments, ERP and other IT business solutions.
 </div>

	<div class="content_4">
		<div class="inner_title">
	As an IT consulting organization helps organization with:
</div>
<div class="offer_list">
   <span class="offer_item"> Customized Solution & Applications </span>
	<span class="offer_item">IT Manpower & Outsourcing</span>
	<span class="offer_item">Email Solutions</span>
	<span class="offer_item">Hardware Services & Support</span>
	<span class="offer_item">Virus & Spyware Solutions</span>
	<span class="offer_item">Cyber Security</span>
	<div style="clear: both;"></div>
</div>
</div>
<div style="clear: both;"></div>
</div>
</div>

</body>
